doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Esto es una prueba de uso para archivos pug 
    main 
        section.main-section 
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse asperiores expedita consectetur optio quia minima harum soluta tenetur mollitia corporis! Totam in recusandae vitae hic impedit reprehenderit natus numquam cumque?
        section.second-section  
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eaque corrupti optio nostrum deserunt, aspernatur et corporis. Reiciendis, debitis. Quaerat vitae corrupti non, voluptas facere provident possimus deleniti fugiat doloribus!